.page-header
  = link_to products_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_product_path(@product), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= @product.name

%p Price: #{@product.price}
%p Released_on: #{@product.released_on}

= render @product.reviews

= simple_form_for [@product, Review.new] do |f|
  = f.error_notification
  = f.input :content, as: :text
  = f.button :submit

